**/.settings
**/target
**/test-output
**/bin
**/.idea
**/.classpath
**/.project
**/*.iml
**/.iml
**/mybatis.log
**/workspace.xml
**/pom.xml.versionsBackup
/.classpath
/.project
**/angular/docs/*
**/angular/i18n/*
/monitor.login/src/main/java/com/midea/monitor/login/controller/LoginController.java
